header {
    width: 100%;
    min-height: 90px;
    position: relative;
    display: inline-block;
    right: 0;
    top: 0;
    background-color: white;
    padding: 10px 40px;
    z-index: 100;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
}

.header__inputs {
    display: flex;
    gap: 25px;
}

.header__burger-menu {
    display: none;
}

.header__burger-line {
    width: 25px;
    height: 3px;
    background-color: #343C6A;
    border-radius: 20px;
    transition: all 0.3s;
}

.header__burger-menu.active 
.header__burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header__burger-menu.active 
.header__burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header__burger-menu.active 
.header__burger-line:nth-child(2) {
    opacity: 0;
}

.border {
    position: absolute;
    width: 2px;
    height: 120px;
    left: 198px;
    background-color: #E6EFF5;
}

.header__main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__title {
    color: var(--Primary-2, #343C6A);
    font-size: 28px;
    font-weight: 600;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__search {
    position: relative;
}

.header__search-input {
    background-color: #F5F7FA;
    max-width: 265px;
    width: 100%;
    border-radius: 40px;
    height: 50px;
    color: #8BA3CB;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    padding: 16px 43px 16px 50px;
}

.header__search-input::placeholder {
    color: #8BA3CB;
    font-size: 15px;
    font-weight: 400;
}

.header__search::before {
    content: url('../assets/icons/magnifying-glass.svg');
    display: inline-block;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 25px;
    cursor: pointer;
}

.header__profile-picture {
    border-radius: 50%;
}

.header__phone-search {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.header__phone-search form,
.header__phone-search form input {
    max-width: 966px;
    width: 100%;
}

@media (max-width: 966px) {
    .header__left img {
        display: none;
    }

    .button-style,
    .button-style__icon {
        display: none;
    }

    .border {
        display: none;
    }

    .header__inputs {
        display: none;
    }

    .header__burger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 25px;
        width: 100%;
    }

    .header__phone-search {
        display: flex;
    }
}