.cards-epxense-section {
    padding: 24px;
}

.cards-expense__main-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.cards-epxense-section__left {
    max-width: 730px;
    width: 100%;
}

.my-card__card {
    width: 350px;
    height: 225px;
    background: linear-gradient(107deg, #4C49ED 2.61%, #0A06F4 101.2%);
    border-radius: 25px;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.my-card__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-card__heading a {
    color: #343C6A;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.my-card__heading a:hover {
    text-decoration: underline;
}

.my-cards__wrapper {
    max-width: 730px;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;
}

.card {
    position: relative;
}

.card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.card__balance-text {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.card__balance-amount {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.card__middle {
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    align-items: center;
}

.card__holder,
.card__valid {
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.card__name,
.card__date {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.card__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);
    border-radius: 0px 0px 25px 25px;
}

.card__code {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.my-card__card-2 {
    width: 350px;
    height: 225px;
    background-color: white;
    border-radius: 25px;
    flex-shrink: 0;
    scroll-snap-align: center;
    color: #343C6A;
    position: relative;
}

.card__balance-text-2 {
    color: #343C6A;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.card__balance-amount-2 {
    color: #343C6A;
    font-size: 20px;
    font-weight: 600;
}

.card__holder-2,
.card__valid-2 {
    color: #718EBF;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.card__name-2,
.card__date-2 {
    font-size: 15px;
    font-weight: 600;
    color: #343C6A;
}

.card__bottom-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid #DFEAF2;
}

.card__code-2 {
    color: #343C6A;
    font-size: 22px;
    font-weight: 600;
}

.cards-epxense-section__right {
    max-width: 350px;
    width: 100%;
}

.expense__wrapper {
    background-color: white;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
    border-radius: 25px;
}

.expense__number {
    color: #343C6A;
    font-size: 12px;
    font-weight: 600;
    padding-left: 100px;

}

@media (max-width: 1388px) {
    .expense__wrapper {
        height: fit-content;
    }
}

/* || recent transactions */

.recent {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.recent__main-wrapper {
    max-width: 1173px;
    width: 100%;
}

.transactions__main-wrapper {
    max-width: 1173px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.transactions__tabs {
    max-width: 1173px;
    width: 100%;
    color: #718EBF;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #EBEEF2;
    width: 100%;
}

.transaction__tabs-wrapper {
    max-width: 410px;
    align-items: center;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.transactions__tabs p {
    padding: 8px 0;
    cursor: pointer;
    position: relative;
}

.transactions__tabs p::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1814F3;
    left: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    display: none;
}

.transactions__tabs p.active {
    color: #1814F3;
    font-size: 16px;
    font-weight: 500;
}

.transactions__tabs p.active::after {
    display: inline-block;
}

.transactions__table {
    max-width: 1173px;
    width: 100%;
    overflow-x: scroll;
}

.transactions__main-table {
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 25px;
}

.transactions__main-table th {
    color: #718EBF;
    font-size: 16px;
    font-weight: 500;
}

.transactions__main-table td {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .transactions__main-table th {
        font-size: 12px;
    }

    .transactions__main-table td {
        font-size: 12px;
    }
}

.transactions__main-table td.negative {
    color: #FF4B4A;
    font-size: 16px;
    font-weight: 500;
}

.transactions__main-table td.positive {
    color: #41D4A8;
    font-size: 16px;
    font-weight: 500;
}

.transactions__main-table th,
.transactions__main-table td {
    vertical-align: middle;
    padding: 17px 25px;
}

.transactions__main-table tr {
    border-bottom: 1px solid #F2F4F7;
}

.description-row {
    display: flex;
    align-items: center;
    gap: 14px;
    max-width: 200px;
    width: 100%;
}

.description-row p {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-row p span {
    color: #718EBF;
    font-size: 12px;
    font-weight: 400;
    display: none;
}

.transactions__main-table td button {
    border-radius: 50px;
    border: 1px solid #123288;
    color: #123288;
    max-width: 100px;
    width: 100%;
    height: 35px;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
    padding: 0 10px;
}

.transactions__main-table td button:hover {
    border: 1px solid #1814F3;
    color: #1814F3;
}

@media (max-width: 800px) {

    .transactions__main-table tr th:nth-child(2),
    .transactions__main-table tr td:nth-child(2),
    .transactions__main-table tr th:nth-child(3),
    .transactions__main-table tr td:nth-child(3),
    .transactions__main-table tr th:nth-child(4),
    .transactions__main-table tr td:nth-child(4),
    .transactions__main-table tr th:nth-child(5),
    .transactions__main-table tr td:nth-child(5),
    .transactions__main-table tr th:nth-child(7),
    .transactions__main-table tr td:nth-child(7) {
        display: none;
    }

    .active-loans__main-table th,
    .active-loans__main-table td {
        vertical-align: middle;
        padding: 15px 18px;
    }

    .description-row p span {
        display: inline-block;
    }
}

.transactions__pages {
    display: flex;
    align-items: center;
    max-width: 297px;
    width: 100%;
    justify-content: space-between;
    align-self: flex-end;
}

.transactions__pages-option {
    color: #1814F3;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.2s;
}

.transactions__pages-option i {
    transition: all 0.2s;
}

.transactions__pages-option:first-child:hover i {
    transform: translateX(-5px);
}

.transactions__pages-option:last-child:hover i {
    transform: translateX(5px);
}

.transactions__pages-option.active {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #1814F3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
